body{
  background: url(bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
  overflow: hidden;
}
.centered{
  display: block;
  margin: auto;
}
.banner{
  margin-top: 80px;
  width: 30%;
  border:1px solid #fff;
}
.html-tile{
  width: auto;
  background-color: #f0ab12;
  border:1px solid #fff;
  overflow: hidden;
  font-family: monospace;
  color:#fff;
}
.css-tile{
  width: auto;
  background-color: #2dbcc0;
  border:1px solid #fff;
  overflow: hidden;
  font-family: monospace;
  color:#fff;
}
.js-tile{
  width: auto;
  background-color: #196575;
  border:1px solid #fff;
  overflow: hidden;
  font-family: monospace;
  color:#fff;
}
.jq-tile{
  width: auto;
  background-color: #eb4a20;
  border:1px solid #fff;
  overflow: hidden;
  font-family: monospace;
  color:#fff;
}
.left{
  float:left;
}
.right{
  float: right;
}
